* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: 'Microsoft Yahei';
  font-size: 62.5%;
}

header {
  width: 800px;
  height: 260px;
  background: url('images/banner.jpg') no-repeat center center;
  margin: 0 auto;
  border-right: 1px solid green;
  border-left: 1px solid green;
}

nav {
  width: 800px;
  height: 30px;
  background: url('images/line.gif') no-repeat bottom center;
  margin: 0 auto;
  padding: 0 50px;
  text-align: right;
  border-right: 1px solid green;
  border-left: 1px solid green;
}

nav>a {
  font-size: 1.2rem;
  text-decoration: none;
  color: green;
}

section {
  width: 800px;
  margin: 0 auto;
  padding: 10px 45px 0;
  border-right: 1px solid green;
  border-left: 1px solid green;
}

.message>div {
  display: flex;
  margin-bottom: 10px;
  border: 1px solid green;
}

.message>div>aside {
  padding: 10px;
  border-right: 1px solid green;
  width: 120px;
  text-align: center;
}

.message>div>article {
  padding: 10px;
  flex: 1;
}

#leave {
  display: flex;
}

#leave>figure {
  flex: 1;
}

#leave>figure>div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#leave>figure>div>label {
  width: 100px;
  text-align: right;
}

#leave>figure>div>select {
  width: 100px;
  border: 1px solid green;
}

#leave>figure>div>input {
  width: 200px;
  border: 1px solid green;
}

#leave>figure>div>textarea {
  width: 300px;
  height: 50px;
  border: 1px solid green;
}

#leave>figure>button {
  margin-left: 100px;
  padding: 5px;
  border: 1px solid green;
  background: transparent;
}

#leave>img {
  width: 100px;
  height: 100px;
}

footer {
  width: 800px;
  margin: 0 auto;
  padding: 30px 0 10px;
  text-align: center;
  font-size: 1.2rem;
  border-right: 1px solid green;
  border-left: 1px solid green;
}
